= label_tag "Url Originale"
= text_field_tag :val,  @url.name_original_url
= label_tag "Url minifié"
= text_field_tag :val,  @url.name_url_minify
= link_to "Tester", {:controller => "urls", :action => "click", :id => @url.id, :s => @url.name_url_minify}
= link_to "Nouveau", root_path
