!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Jeminifiemonurl
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => "body"}
    .container
      = yield
      %h4
      - flash.each do |key, value|
        = content_tag :div, value,  id: "flash_#{key}"
    .footer
      %h4="jeminifiemonurl © 2015. Made by NSE with Love "
